.pagination {
  width: 80%;
  display: flex;
  margin: auto auto 5rem auto;
  /* justify-content: space-between; */
  /* border: 1px solid blue; */
}

.prev {
  margin-right: auto;
}

.next {
  margin-left: auto;
}

/* .pagination svg {
  height: 1.6rem;
  width: 1.6rem;
  fill: currentColor;
  margin: 0 0.2rem;
}

.pagination span {
  margin: 0 0.4rem;
} */
