.search {
  grid-area: results;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.copy {
  margin-top: auto;
  margin-left: 2rem;
}

.link:link,
.link:hover,
.link:visited,
.link:active {
  text-decoration: none;
  color: var(--color-primary); 
}
