.btn {
  background-image: linear-gradient(
    to right bottom,
    var(--color-grad-1),
    var(--color-grad-2)
  );
  border-radius: var(--borderRadius-button);
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  padding: 1.5rem 4rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.btn:hover {
  transform: scale(1.05);
}

.btn:focus {
  outline: none;
}

.btn > *:first-child {
  margin-right: 1rem;
}

.btn svg {
  height: 2.4rem;
  width: 2.4rem;
  fill: #ffffff;
}

.small {
  padding: 1.25rem 1.7rem;
}

.nav {
  height: 100%;
  font-family: inherit;
  color: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 0 1.5rem;
  transition: all 0.3s;
  display: flex;
  align-items: center;
}

.nav:hover {
  transform: none;
  background-color: var(--color-grey-light-2);
}
/* .nav:hover a {
  text-decoration: underline;
} */

.nav svg {
  height: 2.4rem;
  width: 2.4rem;
  fill: var(--color-primary);
  margin-right: 0.7rem;
  /* transform: translateY(-1px); */
}

.nav a {
  font-size: inherit;
  color: inherit;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.nav a:link,
.nav a:visited,
.nav a:active {
  text-decoration: none;
}
.nav a:hover {
  text-decoration: underline;
}

.pagination {
  color: var(--color-primary);
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  background-color: var(--color-grey-light-1);
  padding: 0.8rem 1.2rem;
  border-radius: var(--borderRadius-button);
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}

/* .pagination:first-of-type {
  margin-left: 2rem;
  margin-right: auto;
}
.pagination:last-of-type {
  margin-left: auto;
  margin-right: 2rem;
} */

.pagination svg {
  height: 1.6rem;
  width: 1.6rem;
  fill: currentColor;
  margin: 0 0.2rem;
}

.pagination span {
  margin: 0 0.4rem;
}

.round {
  background-image: linear-gradient(
    to right bottom,
    var(--color-grad-1),
    var(--color-grad-2)
  );
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 4.5rem;
  width: 4.5rem;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.round:hover {
  transform: scale(1.07);
}
.round:focus {
  outline: none;
}
.round svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: #ffffff;
}

.small {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.25rem 2.25rem;
  text-decoration: none;
}

.tiny {
  height: 2rem;
  width: 2rem;
  border: none;
  background: none;
  cursor: pointer;
}
.tiny:focus {
  outline: none;
}
.tiny:hover svg {
  fill: var(--color-grad-2);
  transform: translateY(-1px);
}
.tiny:active svg {
  fill: var(--color-grad-2);
  transform: translateY(0);
}
.tiny:not(:last-child) {
  margin-right: 0.5rem;
}

.tiny svg {
  height: 100%;
  width: 100%;
  fill: var(--color-primary);
  transition: all 0.3s;
}

.modal-close {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 1.6rem;
  font-size: 3.5rem;
  cursor: pointer;
  border: none;
  background: none;
}
