.spinner {
  margin: 20% auto 5rem auto;
  text-align: center;
}

.spinner svg {
  height: 10rem;
  width: 10rem;
  fill: var(--color-primary);
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
