.nav {
  margin-right: 2.5rem;
  align-self: stretch;
}

.nav-list {
  list-style: none;
  display: flex;
  height: 100%;
}

.nav-list li {
  height: 100%;
}

.bookmarks {
  padding: 1rem 0;
  position: absolute;
  right: -2.5rem;
  z-index: 10;
  width: 40rem;
  background-color: #fff;
  box-shadow: 0 0.8rem 5rem 2rem rgba(var(--color-grey-dark-1), 0.1);
}

.bookmarks-list {
  list-style: none;
  box-shadow: var(--shadow-card);
}

.message {
  max-width: 40rem;
  margin: 0 auto;
  padding: 5rem 4rem;

  display: flex;
}
.message svg {
  height: 3rem;
  width: 3rem;
  fill: var(--color-primary);
  transform: translateY(-0.3rem);
}

.message p {
  margin-left: 1.5rem;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 600;
}
.message span {
  color: var(--color-primary);
}
